@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232830;
  display: flex;
  flex-direction: column;
}

.header {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-family: poppins;
  margin-top: 55px;
  margin-right: 8%;
  margin-left: 8%;
}

.header .nav {
  word-spacing: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
}

.logo img {
  width: 194px;
  height: 204px;
}

.logo p {
  font-family: Recursive;
  font-size: 71px;
  font-style: italic;
  color: #ff7575;
}

.logo p:last-child {
  font-family: poppins;
  color: #ffffff;
  font-size: 29px;

  text-decoration: none;
  font-style: normal;
}

.content {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-top: 1px solid #4d4d4d;
}

.main-nav-buttons img:first-child {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-right: 7px;
}

.main-nav-buttons img:last-child {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-right: 35px;
}

.main-nav-content p {
  text-decoration: none;
  color: #4d4d4d;
  font-family: Recursive;
  font-size: 27px;
  word-spacing: 25px;
  font-style: italic;
  margin-top: 5px;
}

.main-nav-content p:last-child {
  color: linear-gradient(#232830, #23283000, 0%);
}

section.content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 75px;
  justify-content: center;
  gap: 30px;
}

section.content-box .box {
  flex-direction: column;
  display: flex;
  flex-basis: calc(100% / 4);
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  height: auto;
}

.container {
  max-width: 1244px;
  width: 100%;
  margin: auto;
}

section.content-box .box h4 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins;
}

section.content-box .box footer {
  color: #0f1217;
  margin-top: auto;
  margin-bottom: 10px;

  font-family: Poppins;
  font-size: 16px;
}

section.content-box .box p {
  margin-bottom: 25px;
  font-family: Poppins;
}

.pagelist {
  width: 100%;
  margin: auto;
}

.pagelist .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 35px;
  font-family: Recursive;
  font-weight: 400;
  font-style: italic;
  color: #909090;
  margin-top: 150px;
  word-spacing: 100%;
  margin-bottom: 45px;
}
.pagelist .content p.highlight {
  width: 35px;
  color: #ff7575;
  border-top: 3px solid #ff7575;
  align-self: center;
  line-height: 1;
  border-width: 3px;
}

.footer {
  border-top: 2px solid #4d4d4d;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 115px;
  padding-top: 55px;
  margin-bottom: 125px;
  font-family: Source Sans 3;
}

.footer div.author {
  color: #ffffff;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  
}

.footer p.author-1 {
  background-color: #4699e0;
  border-radius: 10px;
  padding: 12px;
  
}

.footer .twitter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4699e0;
  border-radius: 10px;
  color: #ffffff;
  height: 60px;
  font-size: 24px;
  font-family: Source Sans 3;  

}

.footer .twitter img {
  width: 20px;
  height: 16px;
  margin-right: 5px;
}
